/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
	border-radius: 0; 
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

a {
	text-decoration: none;
}



/*-----------------------------------------------------------------------------------*/

/* Sprite */

/*-----------------------------------------------------------------------------------*/

.big_sprite {
    background-image: url(../img/Sprite/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.big_sprite-avatar {
    width: 70px;
    height: 70px;
    background-position: -5px -5px;
}

.big_sprite-cloud_down {
    width: 40px;
    height: 40px;
    background-position: -85px -5px;
}

.big_sprite-cloud_up {
    width: 40px;
    height: 40px;
    background-position: -85px -55px;
}

.big_sprite-flash {
    width: 70px;
    height: 70px;
    background-position: -135px -5px;
}

.big_sprite-keyboard {
    width: 70px;
    height: 70px;
    background-position: -5px -85px;
}

.big_sprite-lamp {
    width: 70px;
    height: 70px;
    background-position: -135px -85px;
}

/*-----------------------------------------------------------------------------------*/

/* FONTS */

/*-----------------------------------------------------------------------------------*/

@font-face{
	font-family: 'OpenSans-Semibold';
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-style: normal;
}

@font-face{
	font-family: 'Raleway-Regular';
	src: url(../fonts/Raleway-Regular.ttf);
	font-style: normal;
}

/*-----------------------------------------------------------------------------------*/

/* MIXIN */

/*-----------------------------------------------------------------------------------*/

@mixin width-wraper{
	max-width: 1104px;
	margin: 0 auto;
}

@mixin OpenSans20black{
	font-family: "Open Sans";
	font-size: 20px;
	color: $gray;
	font-weight: bold;
	line-height: 1.2;
}

@mixin OpenSansReg14{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.43;
	color: #86878b;
}

/*-----------------------------------------------------------------------------------*/

/* VARIABLES */

/*-----------------------------------------------------------------------------------*/

$orange: #ff9b51;
$deep_orange: #ff8b38;
$gray: #333333;
$lite-gray: #86878b;
$black: #000;

/*-----------------------------------------------------------------------------------*/

/* ANIMATION */

/*-----------------------------------------------------------------------------------*/
@keyframes rotate-burger {
    0% {
        transform: rotate(0deg);
        left: 5px;
    }
    100% {
        transform: rotate(90deg);
		left: 10px;
    }
}
/*-----------------------------------------------------------------------------------*/

/* MAIN */

/*-----------------------------------------------------------------------------------*/

body{
	max-width: 1400px;
	margin: 0 auto;
	background-color: #333;
}

.wraper{
	@include width-wraper;
}

.main_header {
	background-color: $black;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 70px;
}

.main_header__navlist-bg {
	background-color: $black;
	max-width: 1150px;
	margin: 0 auto;
	min-height: 70px;
}

.main_header__navlist {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	list-style: none;
	width: 100%;
	position: relative;
	background-color: $black;
}

.main_header__navlist:before{
	content: "";
	position: absolute;
	background-image: url(../img/min_logo.png);
	width: 79px;
	height: 27px;
	left: 23px;
	top: 21px;
}

.main_header__navlist li a{
	color: rgba(255,255,255,.7);
	font-family: 'OpenSans-Semibold';
	font-size: 14px;
	padding: 0 23px;
	display: block;
	min-height: 70px;
	width: auto;
	display: flex;
	align-items: center;
}

.main_header__navlist li a:hover{
	background-color: #222;
}

.main_header__navlist-burger {
	display: none;
	position: absolute;
	right: 50px;
	top: 8px;
	width: 50px;
	height: 50px;
	border: solid 2px #fff;
	& li a{
		display: none;
		color: rgba(255,255,255,.7);
		font-family: 'OpenSans-Semibold';
		font-size: 14px;
		padding: 15px 30px;
		background-color: #000;

	}
	&:hover .main_header__navlist-burger-list a{
		display: block;
		text-align: center;
		&:hover{
			background-color: #111;
		}
	}
	&-list{
		position: absolute;
		left: -110px;
		top: 52px;
		z-index: 10;
		width: 212px;
	}
	&:before{
		content: "";
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
	&:hover:before{
		animation-name: rotate-burger;
    	animation-duration: .5s;
    	animation-fill-mode: forwards;
	}
}


.main_header__top_form {
	min-height: 641px;
	background-color: #444;
	background-image: url(../img/header_bg.png);

}

.wraper_top {
	@include width-wraper;
	min-height: 640px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main_header__top_form-left_column {
	width: 48%;

}
.main_header__top_form-left_column h1{
	font-family: 'Raleway-Regular', "OpenSans";
	font-size: 36px;
	color: #fff;
	padding-top: 28px;
	padding-bottom: 35px;
	line-height: 1.2;
	position: relative;
}

.main_header__top_form-left_column h1:after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	
	width: 64px;
	height: 2px;
	background-color: #fff; 
}

.main_header__top_form-left_column p{
	font-family: 'Raleway Light', "OpenSans";
	font-size: 16px;
	line-height: 23px;
	color: rgba(255,255,255,.8);
	padding-bottom: 44px;
	padding-top: 35px;
}
.header_button {
	padding: 0 25px; 
	min-height: 40px;
	border: 2px solid white;
	background-color: transparent;
	color: #fff;
	font-family: "OpenSans-Semibold";
	font-size: 15px;
	cursor: pointer;
	&:hover{
		background-color: rgba(0,0,0,.2);
	}
}

.main_header__top_form-right_column {
	width: 52%;
	display: flex;
	justify-content: flex-end;
}

.main_header_form {
	width: 360px;
}

.main_header_form h2{
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 20px;
	text-align: center;
	line-height: 2.5;
	background-color: #f5f5f5; 
	min-height: 54px;
	border-radius: 5px 5px 0 0;
}

.main_header_form-input_wraper {
	background-color: #fff;
	width: 100%;
	text-align: center;
}

.main_header_form-input_wraper input{
	border: 1px solid #fbfbfb;
	border-top: none;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 36px;
	width: 70%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
}

.main_header_form-input_wraper input:focus::-webkit-input-placeholder{
	color: transparent;
}

.main_header_form-input_wraper input:first-child{
	margin-top: 36px;
}


.main_header_form-button {
	width: 100%;
	cursor: pointer;
	border: none;
	border-radius: 0 0 5px 5px;
	min-height: 54px;
	background-color: $orange;
	color: #fff;
	font-family: "OpenSans-Semibold";
	font-size: 15px;
}

.main_header_form-button:hover{
	background-color: $deep_orange;
}

.main_body__top_social_line-bg {
	background-color: #fff;
	min-height: 105px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .4);
	position: relative;
}

.main_body__top_social_line {
	min-height: 105px;
	display: flex;
	flex-direction: row;
}

.main_body__top_social_line-text_block{
	width: 35%;
}

.main_body__top_social_line-text_block h3{
	@include OpenSans20black;
	padding-top: 20px;
}

.main_body__top_social_line-text_block p{
	@include OpenSansReg14;
	padding-top: 5px;
	margin-bottom: 10px;
}

.main_body__top_social_line-icon_block {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.main_body__content_block_1-bg {
	background-color: #f5f5f5;
}

.main_body__content_block_1 {
	min-height: 595px;
	display: flex;
	flex-direction: row;
	align-items: center;
	&-tabs{
		& li{
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $gray;
			border: 1px solid #c7c7c7;
			@include OpenSans20black;
			font-size: 14px;
			&:first-child{
				border-radius: 5px 5px 0 0;
			}
			&:last-child{
				border-radius: 0 0 5px 5px;
			}	
			& a{
				color: #fff;
				display: block;
				height: 110px;
				width: 110px;
				text-align: center;
				line-height: 8;
			}
		}
		& .active_tab{
			background-color: $deep-orange;
		}
	}
	&-text_block{
		
		min-height: 333px;
		padding-left: 7%;
		padding-right: 7%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& h3{
			@include OpenSans20black;
			margin-bottom: 25px;
			padding-top: 15px;
		}
		& p{
			@include OpenSansReg14;
			padding-top: 25px;
		}
		& button{
			height: 44px;
			padding: 0 24px;
			margin-top: 48px;
			margin-bottom: 20px;
			background-color: $deep-orange;
			border: none;
			border-radius: 4px;
			color: #fff;
			font-family: "OpenSans-Semibold";
			font-size: 15px;
			cursor: pointer;
			&:hover{
				background-color: $orange;
			}
		}
	}
	&-img_block{
		width: 320px;
		
	}
}
.main_body__content_block_2-bg {
	background-color: #fff;
}
.main_body__content_block_2 {
	min-height: 596px;
	display: flex;
	flex-direction: row;
	align-items: center;
	&-img_block{
		flex-grow: 1;
		display: flex;
		justify-content: flex-start;
	}
	&-text_block{
		width: 40%;
		position: relative;
		display: flex;
		flex-direction: column;

		&__top h3{
			@include OpenSans20black;
			padding-top: 15px;
		}
		&__top p{
			@include OpenSansReg14;
			margin-top: 55px;
			margin-bottom: 42px;
			position: relative;
		}
		&__top p:before{
			content: "";
			position: absolute;
			top: -25px;
			left: 0;
			height: 2px;
			width: 64px;
			background-color: $orange;
		}
		&__bottom{
			display: flex;
			flex-direction: row;
			margin-bottom: 38px;
		}
		&__bottom-img{
			margin-right: 25px;
		}
		&__bottom-articles h4{
			font-family: "OpenSans-Semibold";
			font-size: 14px;
			margin-bottom: 5px;
		}
		&__bottom-articles p{
			@include OpenSansReg14;
		}
	}
}


.main_body__content_block_3 {
	min-height: 596px;
	display: flex;
	flex-direction: row;
	align-items: center;
	&-text_block{
		width: 43%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& h3{
			@include OpenSans20black;
			margin-bottom: 25px;
			position: relative;
			
		}
		& h3:after{
			content: "";
			position: absolute;
			bottom: -25px;
			left: 0;
			height: 2px;
			width: 64px;
			background-color: $orange;
		}
		& p{
			@include OpenSansReg14;
			padding-top: 25px;
		}
	}
	&-img_block{
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
	}
}


.main_body__content_block_4-bg {
	background-color: #fff;
}

.main_body__content_block_4 {
	min-height: 591px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-header h2{
		font-family: 'Raleway-Regular', "OpenSans";
		font-size: 36px;
		color: #000;
		line-height: 1.2;
		position: relative;
		margin-bottom: 60px;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
			height: 2px;
			width: 64px;
			background-color: $orange;
		}
	}

	&-header p{
		@include OpenSansReg14;
		margin-bottom: 80px;
		text-align: center;
	}
	&-elem-list{
		display: flex;
		flex-direction: row;
		& .img{
			margin: 0 auto;
			margin-bottom: 25px;
		}
		&-element{
		margin: 0 16px;
		& h3{
			@include OpenSans20black;
			text-align: center;
			margin-bottom: 24px;
		}

		& p{
			@include OpenSansReg14;
			text-align: center;
		}
		}
	}
}

.main_body__content_block_5-bg {
	background-color: #f5f5f5;
}
.main_body__content_block_5 {
	min-height: 883px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-header h2{
		font-family: 'Raleway-Regular', "OpenSans";
		font-size: 36px;
		color: #000;
		line-height: 1.2;
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
			height: 2px;
			width: 64px;
			background-color: $orange;
		}
	}

	&-header p{
		@include OpenSansReg14;
		margin-bottom: 80px;
	}
	&-elem-list{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
		& a{
			display: block;
		}
		&-element{
			margin: 0 5px;
			width: 300px;
			& h3{
				@include OpenSans20black;
				color: #fff;
				height: 59px;
				background-color: $gray;
				border-bottom: 1px solid #fff;
				text-align: center;
				line-height: 3;
			
			}
			& p{
				height: 141px;
	
				background-color: $gray;
				font-family: "Raleway";
				font-weight: bold;
				color: #fff;
				font-size: 28px;
				text-align: center;
				padding-top: 10px;
				border-bottom: 5px solid $deep-orange;
				& span{
					font-size: 100px;
				}
				& i{
					line-height: 1.2;
					font-family: "OpenSans-Semibold";
					font-size: 14px;
					color: rgba(255,255,255,.5);
				}
			}
			& li{
				
				padding: 6px 0;
				border-bottom: 1px solid #f5f5f5;
				background-color: #fff;
				text-align: center;
				@include OpenSansReg14;
				text-transform: uppercase;
			}
			&-best{
				width: 300px;
					& h3{
						@include OpenSans20black;
						color: #fff;
						height: 59px;
						background-color: $gray;
						border-bottom: 1px solid #fff;
						text-align: center;
						line-height: 3;
					}
					& p{
						height: 141px;
						background-color: $gray;
						font-family: "Raleway";
						font-weight: bold;
						color: #fff;
						font-size: 28px;
						text-align: center;
						padding-top: 10px;
						border-bottom: 40px solid $deep-orange;
						& span{
								font-size: 100px;
						}
						& i{
							line-height: 3;
							font-family: "OpenSans-Semibold";
							font-size: 14px;
							color: rgba(255,255,255,.5);
							position: relative;
							display: block;
							&:after{
								content: "OUR MOST POPULAR";
								position: absolute;
								width: 300px;
								top: 40px;
								left: 50%;
								transform: translate(-50%, 0);
								color: #fff;
								font-style: normal;
							}
						}
					}
					& li{
						padding: 6px 0;
						border-bottom: 1px solid #f5f5f5;
						background-color: #fff;
						text-align: center;
						@include OpenSansReg14;
						text-transform: uppercase;
					}
			}
		}
	}	
}
.main_body__content_block_6-bg {
	background-color: #fff;
}
.main_body__content_block_6 {
	min-height: 592px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-header h2{
		font-family: 'Raleway-Regular', "OpenSans";
		font-size: 36px;
		color: #000;
		line-height: 1.2;
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
			height: 2px;
			width: 64px;
			background-color: $orange;
		}
	}

	&-header p{
		@include OpenSansReg14;
		margin-bottom: 80px;
		text-align: center;
	}
	&-elem-list{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		&-element{
			margin: 0 5px; 
		}
		&-element_review{
			box-sizing: border-box;
			width: 274px;
			height: 147px;
			background-image: url(../img/mind.png);
			font-family: "Open Sans";
			font-size: 14px;
			font-style: italic;
			padding: 20px 12px;
		}
		&-element_artist-block{
			position: relative;
			display: block;
		}
		&-element_artist-block p{
			padding-left: 90px;
			display: block;
			@include OpenSans20black;
			padding-top: 10px;
		}
		&-element_artist-block em{
			padding-left: 90px;
			display: block;
			@include OpenSansReg14;
			line-height: 0;
			
		}
		&-element_artist-block:before{
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			width: 70px;
			height: 70px;
			background-image: url(../img/avatar.png);
		}
	}
}	

.main_body__content_block_7-bg {
	background-color: #111;
	background-image: url(../img/footer_bg.png);
	background-repeat: no-repeat;
	padding: 20px 20px;
}
.main_body__content_block_7 {
	max-height: 319px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-header h2{
		font-family: 'Raleway-Regular', "OpenSans";
		font-size: 36px;
		color: #fff;
		line-height: 1.2;
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
			height: 2px;
			width: 64px;
			background-color: #fff;
		}
	}

	&-header p{
		@include OpenSansReg14;
		color: #fff;
		margin-bottom: 35px;
		text-align: center;
	}
}	

.main_body__content_block_8-bg {
	background-color: #fff;
}
.main_body__content_block_8 {
	min-height: 613px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-header h2{
		font-family: 'Raleway-Regular', "OpenSans";
		font-size: 36px;
		color: #000;
		line-height: 1.2;
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
			height: 2px;
			width: 64px;
			background-color: $deep-orange;
		}
	}

	&-header p{
		@include OpenSansReg14;
		color: $lite-gray;
		margin-bottom: 35px;
		text-align: center;
	}
	&-form button{
			width: 160px;
			height: 44px;
			padding: 0 24px;
			margin-bottom: 20px;
			margin: 50px auto;
			background-color: $deep-orange;
			border: none;
			border-radius: 4px;
			color: #fff;
			font-family: "OpenSans-Semibold";
			font-size: 15px;
			cursor: pointer;
			box-shadow: 0px 1px 0px 0px  rgba(0,0,0,.16);
			&:hover{
				background-color: $orange;
			}
			
	}
	&-form{
		display: flex;
		flex-direction: column;
		width: 100%;
	
		&-input{
			display: flex;
			flex-direction: row;

			&_left_block{
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-shrink: 1;
				& input{
					height: 33px;
					width: auto;
					border: none;
					border-bottom: 1px solid #d6d6d6;
					@include OpenSansReg14;
					padding-top: 30px;
					margin-right: 6%;
					&:focus::-webkit-input-placeholder{
						color: transparent;
					}

				}
			}
			&_right_block{
				flex-grow: 1;
				& textarea{
					width: 90%;
					border: none;
					border-bottom: 1px solid #d6d6d6;
					@include OpenSansReg14;
					padding-top: 31px;
					margin-left: 6%;
					&:focus::-webkit-input-placeholder{
						color: transparent;
					}
				}
			}

		}

	}
}	
footer{
	height: 83px;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	& p{
		
		padding-top: 10px;
		color: #fff;
		@include OpenSansReg14;
		font-size: 12px;
	}
}

.footer__social_block{
	min-width: 95%;
	height: 30px;
	background-image: url(../img/social_buttons.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
}

/*-----------------------------------------------------------------------------------*/

/* QUERIES */

/*-----------------------------------------------------------------------------------*/
@import "queries.scss";