/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
	border-radius: 0; 
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

a {
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/

/* Sprite */

/*-----------------------------------------------------------------------------------*/

.big_sprite {
    background-image: url(/img/Sprite/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.big_sprite-avatar {
    width: 70px;
    height: 70px;
    background-position: -5px -5px;
}

.big_sprite-cloud_down {
    width: 40px;
    height: 40px;
    background-position: -85px -5px;
}

.big_sprite-cloud_up {
    width: 40px;
    height: 40px;
    background-position: -85px -55px;
}

.big_sprite-flash {
    width: 70px;
    height: 70px;
    background-position: -135px -5px;
}

.big_sprite-keyboard {
    width: 70px;
    height: 70px;
    background-position: -5px -85px;
}

.big_sprite-lamp {
    width: 70px;
    height: 70px;
    background-position: -135px -85px;
}

/*-----------------------------------------------------------------------------------*/

/* FONTS */

/*-----------------------------------------------------------------------------------*/

@font-face{
	font-family: 'OpenSans-Semibold';
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-style: normal;
}

@font-face{
	font-family: 'Raleway-Regular';
	src: url(../fonts/Raleway-Regular.ttf);
	font-style: normal;
}

/*-----------------------------------------------------------------------------------*/

/* MIXIN */

/*-----------------------------------------------------------------------------------*/

@mixin width-wraper{
	max-width: 1104px;
	margin: 0 auto;
}

@mixin OpenSans20black{
	font-family: "Open Sans";
	font-size: 20px;
	color: $gray;
	font-weight: bold;
	line-height: 1.2;
}

@mixin OpenSansReg14{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.43;
	color: #86878b;
}

/*-----------------------------------------------------------------------------------*/

/* VARIABLES */

/*-----------------------------------------------------------------------------------*/

$orange: #ff9b51;
$deep_orange: #ff8b38;
$gray: #333333;
$lite-gray: #86878b;
$black: #000;

/*-----------------------------------------------------------------------------------*/

/* MAIN */

/*-----------------------------------------------------------------------------------*/

body{
	max-width: 1400px;
	margin: 0 auto;
	background-color: #333;
}

.wraper{
	@include width-wraper;
}

.main_header {
	background-color: $black;

}

.main_header__navlist {
	max-width: 1150px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	list-style: none;
	width: 100%;
	min-height: 70px;
	position: relative;
	background-color: $black;

}

.main_header__navlist:before{
	content: "";
	position: absolute;
	background-image: url(../img/min_logo.png);
	width: 79px;
	height: 27px;
	left: 23px;
	top: 21px;
}

.main_header__navlist li a{
	color: rgba(255,255,255,.7);
	font-family: 'OpenSans-Semibold';
	font-size: 14px;
	padding: 0 23px;
	display: block;
	min-height: 70px;
	width: auto;
	display: flex;
	align-items: center;
}

.main_header__navlist li a:hover{
	background-color: #222;
}

.main_header__top_form {
	min-height: 641px;
	background-color: #444;
	background-image: url(../img/header_bg.png);

}

.wraper_top {
	@include width-wraper;
	min-height: 640px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main_header__top_form-left_column {
	width: 48%;

}
.main_header__top_form-left_column h1{
	font-family: 'Raleway-Regular', "OpenSans";
	font-size: 36px;
	color: #fff;
	padding-top: 28px;
	padding-bottom: 70px;
	line-height: 1.2;
	position: relative;
}

.main_header__top_form-left_column h1:after{
	content: "";
	position: absolute;
	top: 150px;
	left: 0;
	width: 64px;
	height: 2px;
	background-color: #fff; 
}

.main_header__top_form-left_column p{
	font-family: 'Raleway Light', "OpenSans";
	font-size: 16px;
	line-height: 23px;
	color: rgba(255,255,255,.8);
	padding-bottom: 44px;
}
.header_button {
	padding: 0 25px; 
	min-height: 40px;
	border: 2px solid white;
	background-color: transparent;
	color: #fff;
	font-family: "OpenSans-Semibold";
	font-size: 15px;
	cursor: pointer;
}

.main_header__top_form-right_column {
	width: 52%;
	display: flex;
	justify-content: flex-end;
}

.main_header_form {
	width: 360px;
}

.main_header_form h2{
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 20px;
	text-align: center;
	line-height: 2.5;
	background-color: #f5f5f5; 
	min-height: 54px;
	border-radius: 5px 5px 0 0;
}

.main_header_form-input_wraper {
	background-color: #fff;
	width: 100%;
	text-align: center;
}

.main_header_form-input_wraper input{
	border: 1px solid #fbfbfb;
	border-top: none;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 36px;
	width: 70%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #000;
	padding: 3px 13px;
}

.main_header_form-input_wraper input:focus::-webkit-input-placeholder{
	color: transparent;
}

.main_header_form-input_wraper input:first-child{
	margin-top: 36px;
}


.main_header_form-button {
	width: 100%;
	cursor: pointer;
	border: none;
	border-radius: 0 0 5px 5px;
	min-height: 54px;
	background-color: $orange;
	color: #fff;
	font-family: "OpenSans-Semibold";
	font-size: 15px;
}

.main_header_form-button:hover{
	background-color: $deep_orange;
}

.main_body__top_social_line-bg {
	background-color: #fff;
	min-height: 105px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .4);
	position: relative;
}

.main_body__top_social_line {
	min-height: 105px;
	display: flex;
	flex-direction: row;
}

.main_body__top_social_line-text_block{
	width: 35%;
}

.main_body__top_social_line-text_block h3{
	@include OpenSans20black;
	padding-top: 20px;
}

.main_body__top_social_line-text_block p{
	@include OpenSansReg14;
	padding-top: 5px;
	margin-bottom: 10px;
}

.main_body__top_social_line-icon_block {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.main_body__content_block_1-bg {
	background-color: #fff;
	min-height: 595px;
}

.main_body__content_block_1 {
	min-height: 595px;
	display: flex;
	flex-direction: row;
	align-items: center;
	&-tabs{
		width: 110px;
		& li{
			height: 110px;
			width: 110px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $gray;
			border: 1px solid #c7c7c7;
			@include OpenSans20black;
			font-size: 14px;
			&:first-child{
				border-radius: 5px 5px 0 0;
			}
			&:last-child{
				border-radius: 0 0 5px 5px;
			}	
			& a{
				color: #fff;
			}
		}
		& .active_tab{
			background-color: $deep-orange;
		}
	}
	&-text_block{
		
		min-height: 333px;
		padding-left: 100px;
		padding-right: 100px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& h3{
			@include OpenSans20black;
			margin-bottom: 25px;
		}
		& p{
			@include OpenSansReg14;
			padding-top: 25px;
		}
		& button{
			height: 44px;
			padding: 0 24px;
			background-color: $deep-orange;
			border: none;
			border-radius: 4px;
			color: #fff;
			font-family: "OpenSans-Semibold";
			font-size: 15px;
			margin-top: 48px;
		}
	}
	&-img_block{
		width: 320px;
	}
}