@media (max-width: 1150px){
	.wraper_top{
		padding: 25px 20px;
	}
	.wraper{
	padding: 30px 20px;
	}
	.main_body__top_social_line{
		padding: 5px 20px;
	}
	.main_body__top_social_line-icon_block img{
		width: 85%;
		padding-left: 50px;
	}
	.main_body__content_block_1-text_block{
		padding-left: 40px;
	}
}
@media (max-width: 865px){
	.main_body__content_block_6 {
		display: none;
	}
	.main_body__content_block_2-img_block img{
		width: 450px;
		height: 315px;
	}
	.main_body__content_block_3-img_block img{
		width: 473px;
		height: 337px;
	}
	.main_body__content_block_1,.main_body__content_block_2,
	.main_body__content_block_3, .main_body__content_block_4,
	.main_body__content_block_5,.main_body__content_block_8{
		min-height: 460px;
	}
	.main_body__content_block_4-header p,.main_body__content_block_5-header p{
		margin-bottom: 40px;
	}
	.main_body__top_social_line-text_block{
		display: none;
	}
	.main_body__top_social_line{
		padding: 10px 0px;
	}
	.main_body__top_social_line-icon_block img{
		padding-left: 0px;
		margin: 0 auto;
	}

}
@media (max-width: 700px){
	.wraper_top{
		flex-direction: column;
	}
	.main_header__top_form-left_column{
		width: 100%;
		& p{
			display: none;
		}
		& img{
			margin: 0 auto;
			display: block;
		}
		& p{
			display: none;
		}
		& h1{
			text-align: center;
			padding-bottom: 28px;
			&:after{
				display: none;
			}
		}
		& button{
			margin: 0 auto;
			display: block;
			margin-bottom: 28px;
		}
	}
	.main_header__top_form-right_column{
		width: 90%;
	}
	.main_header__top_form-right_column form{
		width: 285px;
		display: block;
		margin: 0 auto;
	}
	.main_header_form h2{
		font-size: 16px;
		line-height: 3;
	}
	.main_body__content_block_1{
		justify-content: space-between;
	
		&-img_block {
			display: none;
		}
		&-text_block {
			width: 100%;
		}
		
		
	}
	.main_body__content_block_2{
		justify-content: center;
	}
	.main_body__content_block_2-img_block{
		display: none;
	}
	.main_body__content_block_2-text_block {
		width: 95%;
		&__top h3{
			text-align: center;
		}
		&__top p:before{
			left: 50%;
			transform: translate(-50%, 0); 
		}
	}
	.main_body__content_block_3{
		min-height: 300px;
		justify-content: center;
	}
	.main_body__content_block_3-img_block{
		display: none;
	}
	.main_body__content_block_3-text_block {
		width: 95%;
		& h3{
			width: 100%;
			text-align: center;
			&:after{
			left: 50%;
			transform: translate(-50%, 0); 
			}
		}
	}
}	

@media (max-width: 590px){
	.main_body__top_social_line-bg {
		min-height: 60px;
	}
	.main_body__top_social_line {
		min-height: 60px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.main_body__content_block_4-header h2{
		text-align: center;
	}
	.main_body__content_block_4-elem-list {
		flex-direction: column;
		&-element p{
			margin-bottom: 40px;
		}
	}
	.main_body__content_block_5-header p{
		text-align: center;
	}
	.main_body__content_block_5-elem-list {
		flex-direction: column;
		align-items: center;
		& a{
			margin-bottom: 30px;
		}
		& a{
			margin-bottom: 30px;
		}
		
	}
	.main_body__content_block_7-bg {
		padding: 0 0;
	}
	.main_body__content_block_7 {
		padding: 15px 15px;
	}
}	


@media (max-width: 390px){
	.main_body__content_block_1-tabs{
			align-self: flex-start;
			& li a{
				height: 70px;
				width: 70px;
				line-height: 5;
			}

	}
	.main_body__content_block_8-form-input{
		flex-direction: column;
		& textarea{
			margin-left: 0;
			width: 100%;
		}
	}
	.main_body__content_block_8-form button{
		margin-bottom: 10px;
	}
	.main_body__content_block_8-form-input_left_block input{
		margin-right: 0;
	}
}
