/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  /* remember to define focus styles! */
  outline: 0;
}

body {
  background: #fff;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a img {
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/* Sprite */
/*-----------------------------------------------------------------------------------*/
.big_sprite {
  background-image: url(../img/Sprite/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.big_sprite-avatar {
  width: 70px;
  height: 70px;
  background-position: -5px -5px;
}

.big_sprite-cloud_down {
  width: 40px;
  height: 40px;
  background-position: -85px -5px;
}

.big_sprite-cloud_up {
  width: 40px;
  height: 40px;
  background-position: -85px -55px;
}

.big_sprite-flash {
  width: 70px;
  height: 70px;
  background-position: -135px -5px;
}

.big_sprite-keyboard {
  width: 70px;
  height: 70px;
  background-position: -5px -85px;
}

.big_sprite-lamp {
  width: 70px;
  height: 70px;
  background-position: -135px -85px;
}

/*-----------------------------------------------------------------------------------*/
/* FONTS */
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
  font-style: normal;
}

/*-----------------------------------------------------------------------------------*/
/* MIXIN */
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* MAIN */
/*-----------------------------------------------------------------------------------*/
body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #333;
}

.wraper {
  max-width: 1104px;
  margin: 0 auto;
}

.main_header {
  background-color: #000;
}

.main_header__navlist {
  max-width: 1150px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  width: 100%;
  min-height: 70px;
  position: relative;
  background-color: #000;
}

.main_header__navlist:before {
  content: "";
  position: absolute;
  background-image: url(../img/min_logo.png);
  width: 79px;
  height: 27px;
  left: 23px;
  top: 21px;
}

.main_header__navlist li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'OpenSans-Semibold';
  font-size: 14px;
  padding: 0 23px;
  display: block;
  min-height: 70px;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header__navlist li a:hover {
  background-color: #222;
}

.main_header__top_form {
  min-height: 641px;
  background-color: #444;
  background-image: url(../img/header_bg.png);
}

.wraper_top {
  max-width: 1104px;
  margin: 0 auto;
  min-height: 640px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header__top_form-left_column {
  width: 48%;
}

.main_header__top_form-left_column h1 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 35px;
  line-height: 1.2;
  position: relative;
}

.main_header__top_form-left_column h1:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 64px;
  height: 2px;
  background-color: #fff;
}

.main_header__top_form-left_column p {
  font-family: 'Raleway Light', "OpenSans";
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 44px;
  padding-top: 35px;
}

.header_button {
  padding: 0 25px;
  min-height: 40px;
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  cursor: pointer;
}

.main_header__top_form-right_column {
  width: 52%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_header_form {
  width: 360px;
}

.main_header_form h2 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 2.5;
  background-color: #f5f5f5;
  min-height: 54px;
  border-radius: 5px 5px 0 0;
}

.main_header_form-input_wraper {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.main_header_form-input_wraper input {
  border: 1px solid #fbfbfb;
  border-top: none;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 36px;
  width: 70%;
  font-family: "Open Sans";
  font-size: 14px;
  color: #000;
  padding: 3px 13px;
}

.main_header_form-input_wraper input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main_header_form-input_wraper input:first-child {
  margin-top: 36px;
}

.main_header_form-button {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0 0 5px 5px;
  min-height: 54px;
  background-color: #ff9b51;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
}

.main_header_form-button:hover {
  background-color: #ff8b38;
}

.main_body__top_social_line-bg {
  background-color: #fff;
  min-height: 105px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.main_body__top_social_line {
  min-height: 105px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_body__top_social_line-text_block {
  width: 35%;
}

.main_body__top_social_line-text_block h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 20px;
}

.main_body__top_social_line-text_block p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  padding-top: 5px;
  margin-bottom: 10px;
}

.main_body__top_social_line-icon_block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.main_body__content_block_1-bg {
  background-color: #f5f5f5;
}

.main_body__content_block_1 {
  min-height: 595px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_1-tabs li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  border: 1px solid #c7c7c7;
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  font-size: 14px;
}

.main_body__content_block_1-tabs li:first-child {
  border-radius: 5px 5px 0 0;
}

.main_body__content_block_1-tabs li:last-child {
  border-radius: 0 0 5px 5px;
}

.main_body__content_block_1-tabs li a {
  color: #fff;
  display: block;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 8;
}

.main_body__content_block_1-tabs .active_tab {
  background-color: #ff8b38;
}

.main_body__content_block_1-text_block {
  min-height: 333px;
  padding-left: 7%;
  padding-right: 7%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_body__content_block_1-text_block h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
  padding-top: 15px;
}

.main_body__content_block_1-text_block p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  padding-top: 25px;
}

.main_body__content_block_1-text_block button {
  height: 44px;
  padding: 0 24px;
  margin-top: 48px;
  margin-bottom: 20px;
  background-color: #ff8b38;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  cursor: pointer;
}

.main_body__content_block_1-text_block button:hover {
  background-color: #ff9b51;
}

.main_body__content_block_1-img_block {
  width: 320px;
}

.main_body__content_block_2-bg {
  background-color: #fff;
}

.main_body__content_block_2 {
  min-height: 596px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_2-img_block {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main_body__content_block_2-text_block {
  width: 40%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_body__content_block_2-text_block__top h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 15px;
}

.main_body__content_block_2-text_block__top p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  margin-top: 55px;
  margin-bottom: 42px;
  position: relative;
}

.main_body__content_block_2-text_block__top p:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  height: 2px;
  width: 64px;
  background-color: #ff9b51;
}

.main_body__content_block_2-text_block__bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 38px;
}

.main_body__content_block_2-text_block__bottom-img {
  margin-right: 25px;
}

.main_body__content_block_2-text_block__bottom-articles h4 {
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  margin-bottom: 5px;
}

.main_body__content_block_2-text_block__bottom-articles p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
}

.main_body__content_block_3 {
  min-height: 596px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_3-text_block {
  width: 43%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_body__content_block_3-text_block h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
  position: relative;
}

.main_body__content_block_3-text_block h3:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 2px;
  width: 64px;
  background-color: #ff9b51;
}

.main_body__content_block_3-text_block p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  padding-top: 25px;
}

.main_body__content_block_3-img_block {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_body__content_block_4-bg {
  background-color: #fff;
}

.main_body__content_block_4 {
  min-height: 591px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_4-header h2 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
}

.main_body__content_block_4-header h2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 64px;
  background-color: #ff9b51;
}

.main_body__content_block_4-header p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  margin-bottom: 80px;
  text-align: center;
}

.main_body__content_block_4-elem-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_body__content_block_4-elem-list .img {
  margin: 0 auto;
  margin-bottom: 25px;
}

.main_body__content_block_4-elem-list-element {
  margin: 0 16px;
}

.main_body__content_block_4-elem-list-element h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.main_body__content_block_4-elem-list-element p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  text-align: center;
}

.main_body__content_block_5-bg {
  background-color: #f5f5f5;
}

.main_body__content_block_5 {
  min-height: 883px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_5-header h2 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.main_body__content_block_5-header h2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 64px;
  background-color: #ff9b51;
}

.main_body__content_block_5-header p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  margin-bottom: 80px;
}

.main_body__content_block_5-elem-list {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_body__content_block_5-elem-list-element {
  margin: 0 5px;
  width: 300px;
}

.main_body__content_block_5-elem-list-element h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  height: 59px;
  background-color: #333333;
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 3;
}

.main_body__content_block_5-elem-list-element p {
  height: 141px;
  background-color: #333333;
  font-family: "Raleway";
  font-weight: bold;
  color: #fff;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 5px solid #ff8b38;
}

.main_body__content_block_5-elem-list-element p span {
  font-size: 100px;
}

.main_body__content_block_5-elem-list-element p i {
  line-height: 1.2;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.main_body__content_block_5-elem-list-element li {
  padding: 6px 0;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  text-transform: uppercase;
}

.main_body__content_block_5-elem-list-element-best {
  width: 300px;
}

.main_body__content_block_5-elem-list-element-best h3 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  height: 59px;
  background-color: #333333;
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 3;
}

.main_body__content_block_5-elem-list-element-best p {
  height: 141px;
  background-color: #333333;
  font-family: "Raleway";
  font-weight: bold;
  color: #fff;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 40px solid #ff8b38;
}

.main_body__content_block_5-elem-list-element-best p span {
  font-size: 100px;
}

.main_body__content_block_5-elem-list-element-best p i {
  line-height: 3;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: block;
}

.main_body__content_block_5-elem-list-element-best p i:after {
  content: "OUR MOST POPULAR";
  position: absolute;
  width: 300px;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #fff;
  font-style: normal;
}

.main_body__content_block_5-elem-list-element-best li {
  padding: 6px 0;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  text-transform: uppercase;
}

.main_body__content_block_6-bg {
  background-color: #fff;
}

.main_body__content_block_6 {
  min-height: 592px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_6-header h2 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.main_body__content_block_6-header h2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 64px;
  background-color: #ff9b51;
}

.main_body__content_block_6-header p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  margin-bottom: 80px;
  text-align: center;
}

.main_body__content_block_6-elem-list {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main_body__content_block_6-elem-list-element {
  margin: 0 5px;
}

.main_body__content_block_6-elem-list-element_review {
  box-sizing: border-box;
  width: 274px;
  height: 147px;
  background-image: url(../img/mind.png);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  padding: 20px 12px;
}

.main_body__content_block_6-elem-list-element_artist-block {
  position: relative;
  display: block;
}

.main_body__content_block_6-elem-list-element_artist-block p {
  padding-left: 90px;
  display: block;
  font-family: "Open Sans";
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 10px;
}

.main_body__content_block_6-elem-list-element_artist-block em {
  padding-left: 90px;
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  line-height: 0;
}

.main_body__content_block_6-elem-list-element_artist-block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 70px;
  height: 70px;
  background-image: url(../img/avatar.png);
}

.main_body__content_block_7-bg {
  background-color: #111;
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  padding: 20px 20px;
}

.main_body__content_block_7 {
  max-height: 319px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_7-header h2 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #fff;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.main_body__content_block_7-header h2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 64px;
  background-color: #fff;
}

.main_body__content_block_7-header p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
}

.main_body__content_block_8-bg {
  background-color: #fff;
}

.main_body__content_block_8 {
  min-height: 613px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_body__content_block_8-header h2 {
  font-family: 'Raleway-Regular', "OpenSans";
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.main_body__content_block_8-header h2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
}

.main_body__content_block_8-header p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  color: #000;
  margin-bottom: 35px;
  text-align: center;
}

.main_body__content_block_8-form button {
  width: 160px;
  height: 44px;
  padding: 0 24px;
  margin-bottom: 20px;
  margin: 50px auto;
  background-color: #ff8b38;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
}

.main_body__content_block_8-form button:hover {
  background-color: #ff9b51;
}

.main_body__content_block_8-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main_body__content_block_8-form-input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_body__content_block_8-form-input_left_block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.main_body__content_block_8-form-input_left_block input {
  height: 33px;
  width: auto;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  padding-top: 30px;
  margin-right: 6%;
}

.main_body__content_block_8-form-input_left_block input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main_body__content_block_8-form-input_right_block {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main_body__content_block_8-form-input_right_block textarea {
  width: 90%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  padding-top: 31px;
  margin-left: 6%;
}

.main_body__content_block_8-form-input_right_block textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

footer {
  height: 83px;
  background-color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

footer p {
  padding-top: 10px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #86878b;
  font-size: 12px;
}

.footer__social_block {
  width: 634px;
  height: 30px;
  background-image: url(../img/social_buttons.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

/*-----------------------------------------------------------------------------------*/
/* QUERIES */
/*-----------------------------------------------------------------------------------*/
@media (max-width: 1150px) {
  .wraper_top {
    padding: 15px 20px;
  }
  .wraper {
    padding: 30px 20px;
  }
  .main_body__top_social_line {
    padding: 5px 20px;
  }
  .main_body__top_social_line-icon_block img {
    width: 85%;
    padding-left: 50px;
  }
  .main_body__content_block_1-text_block {
    padding-left: 40px;
  }
}

@media (max-width: 865px) {
  .main_body__content_block_6 {
    display: none;
  }
  .main_body__content_block_2-img_block img {
    width: 450px;
    height: 315px;
  }
  .main_body__content_block_3-img_block img {
    width: 473px;
    height: 337px;
  }
  .main_body__content_block_1, .main_body__content_block_2,
  .main_body__content_block_3, .main_body__content_block_4,
  .main_body__content_block_5, .main_body__content_block_8 {
    min-height: 460px;
  }
  .main_body__content_block_4-header p, .main_body__content_block_5-header p {
    margin-bottom: 40px;
  }
  .main_body__top_social_line-text_block {
    display: none;
  }
  .main_body__top_social_line {
    padding: 10px 0px;
  }
  .main_body__top_social_line-icon_block img {
    padding-left: 0px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .wraper_top {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_header__top_form-left_column {
    width: 100%;
  }
  .main_header__top_form-left_column p {
    display: none;
  }
  .main_header__top_form-left_column img {
    margin: 0 auto;
    display: block;
  }
  .main_header__top_form-left_column p {
    display: none;
  }
  .main_header__top_form-left_column h1 {
    text-align: center;
    padding-bottom: 28px;
  }
  .main_header__top_form-left_column h1:after {
    display: none;
  }
  .main_header__top_form-left_column button {
    margin: 0 auto;
    display: block;
    margin-bottom: 28px;
  }
  .main_header__top_form-right_column {
    width: 90%;
  }
  .main_header__top_form-right_column form {
    width: 285px;
    display: block;
    margin: 0 auto;
  }
  .main_header_form h2 {
    font-size: 16px;
    line-height: 3;
  }
  .main_body__content_block_1 {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_body__content_block_1-img_block {
    display: none;
  }
  .main_body__content_block_1-text_block {
    width: 100%;
  }
  .main_body__content_block_2 {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_body__content_block_2-img_block {
    display: none;
  }
  .main_body__content_block_2-text_block {
    width: 95%;
  }
  .main_body__content_block_2-text_block__top h3 {
    text-align: center;
  }
  .main_body__content_block_2-text_block__top p:before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .main_body__content_block_3 {
    min-height: 300px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_body__content_block_3-img_block {
    display: none;
  }
  .main_body__content_block_3-text_block {
    width: 95%;
  }
  .main_body__content_block_3-text_block h3 {
    width: 100%;
    text-align: center;
  }
  .main_body__content_block_3-text_block h3:after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 390px) {
  .main_body__content_block_1-tabs {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .main_body__content_block_1-tabs li a {
    height: 70px;
    width: 70px;
    line-height: 5;
  }
}
